body {
   margin: 0px auto; 
   display: flex;
   flex-direction: column;
   font-family: 'Big Shoulders Text', cursive;
}

header {
    height: 100px;
}

main {
    flex: 1 0 auto;
    /* background-image:url("./bg5.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    
}

main h1 {
    font-weight: bold;
}

 main h2 {
    font-weight: 300;
}


#logo {
    margin-left:50px;
    font-family: 'Nothing You Could Do', cursive, bold;
}

.mainpanel{
   margin: 50px;
}

#mainpanel-content {
    margin: 50px;
    
}

.container {
    text-align: center !important;
}

@media only screen and (max-width: 992px) {
    #logo {
        margin-left:0px;
    }
}