body {
   margin: 0px auto; 
   display: flex;
   /* min-height: 100vh; */
   flex-direction: column;
   font-family: 'Big Shoulders Text', cursive;
}

header {
    height: 100px;
}
/* 
header > nav {
    height: 100%;
} */

main {
    flex: 1 0 auto;
    background-image:url("../../bg.jpg") !important;
}

main h1 {
    font-weight: bold;
}

 main h2 {
    font-weight: 300;
}


#logo {
    margin-left:50px;
    font-family: 'Nothing You Could Do', cursive, bold;
}

.mainpanel{
   margin: 50px;
}

#mainpanel-content {
    margin: 50px;
    
}

.container {
    text-align: center !important;
}

@media only screen and (max-width: 992px) {
    #logo {
        margin-left:0px;
    }
}